<app-navbar [saveEnabled]="saveEnabled"></app-navbar>

<div class="container-fluid">
  <div class="row">
    <div class="col-md">
      <app-defs (selectedEntry)="select($event)" (selectedRoot)="selectRoot($event)"></app-defs>
    </div>
    <div class="col-md">
      <app-editor [entry]="selected" [root]="root"></app-editor>

      <div class="row">
        <div class="col-12">
          <input class="row-padding" type="checkbox" [(ngModel)]="showCompact" />
        </div>
        <div class="col-12">
          <app-walker-compat class="row-padding" *ngIf="showCompact"></app-walker-compat>
        </div>
        <div class="col-12">
          <app-walker class="row-padding"></app-walker>
        </div>
      </div>
    </div>
  </div>
</div>
